[alias]
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    sw = switch
    br = branch -r --sort=-committerdate
    fp = fetch --prune
    lols = log -S
    lolas = log --graph --decorate --oneline --all --since=02/01/22 -S
    lolt = log --since=6am --graph --decorate --oneline
    lolat = log --since=6am --graph --decorate --oneline --all
    lolf = log --graph --decorate --oneline --follow -p --
    lolaf = log --graph --decorate --oneline --all --follow -p --
    loln = log --graph --decorate --oneline --name-status --pretty=format:"%h%x09%an%x09%ad%x09%s"
    lolan = log --graph --decorate --oneline --all --name-status --pretty=format:"%h%x09%an%x09%ad%x09%s"
    fpatch = format-patch --full-index --output-directory 
    apatch = am
    



#

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[diff]
	tool = vimdiff
